/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/GXAZjYsa0AAZBvE.jpg'); /* Cambia esta ruta por la ubicación de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño completo de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  
  /* Si quieres que el contenido sea más legible, puedes agregar un color de fondo semitransparente */
  .login-box {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con un 90% de opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Estilos para el campo de entrada */
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Estilos para el botón */
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e3a360;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Estilos para el mensaje de error */
  .message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  